<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static',filename='lyrics.ico') }}" />
    <title>Songlyrics</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style/style.css') }}"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="heading">
        <h1 class="song">SONG</h1>
        <h1 class="lyrics">LYRICS</h1>
        <h4 class="com">.com</h4>
      </div>
    </div>
    {%block body%}{%endblock%}
  </body>
</html>